/* Importing Framework */
/* Importing Bulma Overwrites FIles */
/* Importing All Base Utilities */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

span,
p,
div,
h1,
h2,
h3,
a {
  margin: 0; }

/* Importing Layout FIles */
html {
  font-size: 16px; }

body {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #eee; }

a {
  color: #1fa635;
  transition: 0.5s all;
  text-decoration: none; }
  a:hover {
    color: #27d15f; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

/* Importing Framework */
/* Importing Bulma Overwrites FIles */
/* Importing All Base Utilities */
body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

span,
p,
div,
h1,
h2,
h3,
a {
  margin: 0; }

/* Importing Layout FIles */
html {
  font-size: 16px; }

body {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #eee; }

a {
  color: #1fa635;
  transition: 0.5s all;
  text-decoration: none; }

a:hover {
  color: #27d15f; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

/*! bulmaswatch v0.5.0 | MIT License */
/*! bulma.io v0.5.0 | MIT License | github.com/jgthms/bulma */

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
body,
figure,
h1,
h2,
h3,
html,
p {
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 400; }

html {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  min-width: 300px;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

* {
  box-sizing: inherit; }

img {
  max-width: 100%; }

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; }

body {
  font-weight: 400; }

body {
  color: #3e3f3a;
  font-size: 1rem;
  line-height: 1.5; }

a {
  cursor: pointer;
  text-decoration: none; }

article,
figure,
footer,
section {
  display: block; }

img {
  height: auto; }

span {
  font-weight: inherit;
  font-style: inherit; }

strong {
  font-weight: 700; }

.has-text-centered {
  text-align: center !important; }

.content:not(:last-child) {
  margin-bottom: 1.5rem; }

.content p:not(:last-child) {
  margin-bottom: 1em; }

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center; }

.icon .fa {
  font-size: 21px; }

.image {
  position: relative;
  display: block; }

.image img {
  display: block;
  width: 100%;
  height: auto; }

.image.is-4by3 img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.image.is-4by3 {
  padding-top: 75%; }

.subtitle,
.title {
  word-break: break-word; }

.title:not(:last-child) {
  margin-bottom: 1.5rem; }

.subtitle span,
.title span {
  font-weight: inherit; }

.title {
  color: #2a2a26;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125; }

.title:not(.is-spaced) + .subtitle {
  margin-top: -1.5rem; }

.title.is-1 {
  font-size: 3rem; }

.title.is-2 {
  font-size: 2.5rem; }

.title.is-4 {
  font-size: 1.5rem; }

.subtitle {
  font-size: 1.25rem; }

.subtitle {
  color: #3e3f3a;
  font-weight: 400;
  line-height: 1.25; }

.subtitle.is-3 {
  font-size: 2rem; }

.subtitle.is-6 {
  font-size: 1rem; }

.container {
  position: relative;
  margin: 0 auto; }

@media screen and (min-width: 1008px) {
  .container {
    width: 960px;
    max-width: 960px; } }

@media screen and (min-width: 1200px) {
  .container {
    width: 1152px;
    max-width: 1152px; } }

@media screen and (min-width: 1392px) {
  .container {
    width: 1344px;
    max-width: 1344px; } }

.fa {
  font-size: 21px;
  text-align: center;
  vertical-align: top; }

.card {
  color: #3e3f3a;
  position: relative;
  max-width: 100%;
  background-color: #ffffff; }

.card-image {
  position: relative;
  display: block; }

.card-content {
  padding: 1.5rem; }

.card-footer,
.card-footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card-footer {
  border-top: 1px solid #e6e1d7;
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch; }

.card-footer-item {
  padding: 0.75rem;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  flex-basis: 0;
  flex-grow: 1;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 0;
  flex-shrink: 0;
  justify-content: center; }

.card-footer-item:not(:last-child) {
  border-right: 1px solid #e6e1d7; }

.card .media:not(:last-child) {
  margin-bottom: 0.75rem; }

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start; }

.media-left {
  -webkit-box-flex: 0;
  flex-basis: auto;
  flex-grow: 0;
  -ms-flex-negative: 0;
  -ms-flex-positive: 0;
  -ms-flex-preferred-size: auto;
  flex-shrink: 0; }

.media-left {
  margin-right: 1rem; }

.media-content {
  text-align: left;
  -webkit-box-flex: 1;
  flex-basis: auto;
  flex-grow: 1;
  -ms-flex-negative: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: auto;
  flex-shrink: 1; }

.message {
  font-size: 1rem;
  border-radius: 3px;
  background-color: #f8f5f0; }

.nav-item {
  font-size: 1rem;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 0;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  flex-grow: 0;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -ms-flex-positive: 0;
  flex-shrink: 0;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .nav-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

a.nav-item:not(.button) {
  color: #8e8c84; }

a.nav-item:not(.button):hover {
  color: #2a2a26; }

a.nav-item:not(.button).is-tab {
  padding-top: calc(0.75rem - 1px);
  padding-right: 1rem;
  padding-bottom: calc(0.75rem - 1px);
  padding-left: 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

a.nav-item:not(.button).is-tab:hover {
  border-top-color: transparent;
  border-bottom-color: #325d88; }

.nav-left,
.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  max-width: 100%;
  align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;
  -ms-flex-align: stretch;
  flex-grow: 1;
  -ms-flex-negative: 0;
  -ms-flex-positive: 1;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch; }

@media screen and (min-width: 1200px) {
  .nav-left,
  .nav-right {
    flex-basis: 0;
    -ms-flex-preferred-size: 0; } }

.nav-left {
  white-space: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.nav-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

@media screen and (max-width: 768px) {
  .nav-menu.nav-right {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    background-color: #ffffff;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1); }
  .nav-menu.nav-right .nav-item {
    padding: 0.75rem;
    border-top: 1px solid rgba(230, 225, 215, 0.5); } }

.nav {
  position: relative; }

.nav,
.nav > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch; }

.nav {
  z-index: 10;
  height: 3.25rem;
  text-align: center; }

.nav > .container {
  width: 100%;
  min-height: 3.25rem; }

@media screen and (min-width: 1008px) {
  .navbar-link.is-active:not(:hover),
  a.navbar-item.is-active:not(:hover) {
    background-color: transparent; } }

.column {
  display: block;
  padding: 0.75rem;
  -webkit-box-flex: 1;
  flex-basis: 0;
  flex-grow: 1;
  -ms-flex-negative: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 0;
  flex-shrink: 1; }

@media screen and (min-width: 769px), print {
  .column.is-4 {
    flex: none;
    width: 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: none; } }

.columns {
  margin-top: -0.75rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.columns:last-child {
  margin-bottom: -0.75rem; }

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.hero.is-fullheight .hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center; }

.hero.is-fullheight .hero-body > .container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  -ms-flex-positive: 1;
  flex-shrink: 1; }

.hero.is-fullheight {
  min-height: 100vh; }

.hero-body {
  -webkit-box-flex: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  -ms-flex-positive: 0;
  flex-shrink: 0; }

.hero-body {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.hero-body,
.section {
  padding: 3rem 1.5rem; }

.footer {
  padding: 3rem 1.5rem 6rem;
  background-color: #f8f5f0; }

.card {
  box-shadow: 0 2px 3px rgba(62, 63, 58, 0.1), 0 0 0 1px rgba(62, 63, 58, 0.1); }

.nav {
  border-radius: 3px; }

.nav {
  color: #ffffff;
  background-color: #3e3f3a; }

@media screen and (max-width: 768px) {
  .nav .nav-menu {
    border-radius: 3px;
    background-color: #3e3f3a; } }

.nav a.nav-item:not(.button) {
  color: #c9c8b8;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.nav a.nav-item:not(.button):hover {
  color: #fafafa; }
body {
  font-size: 16px; }

.subtitle,
.title {
  color: inherit; }

.nav-item.is-tab:hover,
a.nav-item:not(.button).is-tab:hover {
  background-color: inherit;
  color: inherit;
  border: none; }

#landing,
#landing-txt-container {
  color: #fff; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.nav-section {
  margin-top: 45.5px; }

#landing {
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0;
  height: calc(100vh - 45.5px);
  background-image: url(https://res.cloudinary.com/tor020/image/upload/v1503265015/Wordpress/network-2402637_uwrcna.jpg);
  background-size: cover; }

#about,
#portfolio {
  height: auto; }

.backdrop {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 20px 3px rgba(255, 255, 255, 0.2);
  padding: 1em 3em 5em; }

.card,
article.message {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.19), 0 4px 6px rgba(0, 0, 0, 0.3); }

#about {
  background-color: #fff; }

article.message {
  font-size: 16px;
  padding: 2em; }

div.text-content {
  margin: 3em; }

.about-h1 {
  font-size: 3rem; }

.about-h3 {
  font-size: 2rem; }

.italic {
  font-style: italic;
  font-size: 1rem; }

.card-hidden {
  display: none; }

.footer-right {
  justify-content: flex-end; }

.footer-left {
  justify-content: flex-start; }

.card {
  border-radius: 2px;
  transition: .5s all; }

.card:hover {
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.25), 2px 8px 6px rgba(0, 0, 0, 0.35); }

.footer-icon {
  margin: 1em; }

.footer-ico {
  font-size: 24px !important; }

.landing-one,
.nav-item-one {
  animation-delay: .2s; }

.landing-two,
.nav-item-two {
  animation-delay: .4s; }

.landing-three,
.nav-item-three {
  animation-delay: .7s; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }

.cardFlipIn,
.cardFlipInReverse {
  animation-duration: .8s;
  animation-fill-mode: both; }

@media screen and (max-width: 694px) {
  .backdrop,
  .hero-body,
  .section {
    padding: 0; }
  .backdrop {
    box-shadow: none;
    background-color: transparent; } }

@keyframes cardFlipIn {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 120deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg); }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
    opacity: 1; }
  to {
    transform: perspective(400px); } }

.cardFlipIn {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: cardFlipIn; }

@keyframes cardFlipInReverse {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -120deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg); }
  80% {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.cardFlipInReverse {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: cardFlipInReverse; }

.foo1,
.foo2,
.foo3,
.foo4,
.foo5 {
  opacity: 0;
  position: absolute;
  display: block;
  width: 60%;
  top: 100%;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.foo1 {
  animation-name: passone;
  opacity: 1;
  left: 20%; }

.foo2 {
  animation-name: passtwo; }

.foo3 {
  animation-name: passthree; }

.foo4 {
  animation-name: passfour; }

.foo5 {
  animation-name: passfive; }

@keyframes passone {
  0%,
  4% {
    left: 20%; }
  16% {
    left: 20%;
    opacity: 1;
    z-index: 0; }
  20% {
    left: 50%;
    opacity: 0;
    z-index: 0; }
  21% {
    left: -50%;
    opacity: 0;
    z-index: -1; }
  92% {
    left: -50%;
    opacity: 0;
    z-index: 0; }
  96% {
    left: -10%;
    opacity: 0; }
  100% {
    left: 20%;
    opacity: 1; } }

@keyframes passtwo {
  0% {
    left: -50%;
    opacity: 0; }
  16% {
    left: -10%;
    opacity: 0; }
  20%,
  24% {
    left: 20%;
    opacity: 1; }
  36% {
    left: 20%;
    opacity: 1;
    z-index: 0; }
  40% {
    left: 50%;
    opacity: 0;
    z-index: 0; }
  100%,
  41% {
    left: -50%;
    opacity: 0;
    z-index: -1; } }

@keyframes passthree {
  0% {
    left: -50%;
    opacity: 0; }
  36% {
    left: -10%;
    opacity: 0; }
  40%,
  44%,
  56% {
    left: 20%;
    opacity: 1; }
  60% {
    left: 50%;
    opacity: 0;
    z-index: 0; }
  100%,
  61% {
    left: -50%;
    opacity: 0;
    z-index: -1; } }

@keyframes passfour {
  0% {
    left: -50%;
    opacity: 0; }
  56% {
    left: -10%;
    opacity: 0; }
  60%,
  64% {
    left: 20%;
    opacity: 1; }
  76% {
    left: 20%;
    opacity: 1;
    z-index: 0; }
  80% {
    left: 50%;
    opacity: 0;
    z-index: 0; }
  100%,
  81% {
    left: -50%;
    opacity: 0;
    z-index: -1; } }

@keyframes passfive {
  0% {
    left: -50%;
    opacity: 0; }
  76% {
    left: -10%;
    opacity: 0; }
  80%,
  84% {
    left: 20%;
    opacity: 1; }
  96% {
    left: 20%;
    opacity: 1;
    z-index: 0; }
  100% {
    left: 50%;
    opacity: 0;
    z-index: 0; } }

.lb-loader,
.lightbox {
  text-align: center;
  line-height: 0; }

body:after {
  content: url(../vendor/images/close.png) url(../vendor/images/loading.gif) url(../vendor/images/prev.png) url(../vendor/images/next.png);
  display: none; }

.lb-dataContainer:after,
.lb-outerContainer:after {
  content: "";
  clear: both; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: .8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  font-weight: 400; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff; }

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff; }

.lb-loader,
.lb-nav {
  position: absolute;
  left: 0; }

.lb-outerContainer:after {
  display: table; }

.lb-loader {
  top: 43%;
  height: 25%;
  width: 100%; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../vendor/images/loading.gif) no-repeat; }

.lb-nav {
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==); }

.lb-next,
.lb-prev {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../vendor/images/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }

.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../vendor/images/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }

.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  display: table; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../vendor/images/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: .7;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1; }
